<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"><a>Sign
                    In</a> </label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"><a>Sign Up</a>
            </label>
            <div class="login-form">
                <form action="/login" method="POST" class="sign-in-htm">
                    <div class="group">
                        <label for="luser" class="label">Username</label>
                        <input id="luser" type="text" class="input" name="luser">
                    </div>



                    <div class="group">
                        <label for="lpass" class="label">Password</label>
                        <input id="lpass" type="password" class="input" data-type="password" name="lpass">
                    </div>
                    {{!-- <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div> --}}
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                   
                    
                    {{#if mess}}
                        <h4 class="alert" id="alert">{{mess}}</h4>
                    {{/if}}
                </form>
                <form action="/auth/registered" method="POST" class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" name="user" required>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" name="password" required>
                    </div>

                    <div class="group">
                        <label for="cpass" class="label"> confirm Password</label>
                        <input id="cpass" type="password" class="input" data-type="password" name="cpassword" required>
                    </div>


                    <div class="group">
                        <label for="domain" class="label">Domain</label>
                        <input id="domain" type="text" class="input" name="domain" required>
                    </div>



                    <div class="group">
                        <label for="email" class="label">Email Address</label>
                        <input id="email" type="email" class="input" name="email" required>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                    

                </form>
            </div>
        </div>
     
    </div>

   <script>
      if(document.getElementById("alert").innerHTML=="a"){
        
      }
      else if(document.getElementById("alert").innerHTML=="user registered"){
          alert(document.getElementById("alert").innerHTML) 
          
         
      }
      else if(document.getElementById("alert").innerHTML=="invalid user"){
      alert(document.getElementById("alert").innerHTML) }
      else if(document.getElementById("alert").innerHTML=="invalid password"){
      alert(document.getElementById("alert").innerHTML) }
      else{
           alert(document.getElementById("alert").innerHTML) 
          document.getElementById("tab-1").checked = false
          document.getElementById("tab-2").checked = true
         
      }
   </script>
</body>
</html>